<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://punchdrink.com/wp-content/uploads/2016/11/Slide-2-San-Francisco-Cocktail-Bar-Crawl-Tommys-Townhouse-Starlight-Room-Bar-Agricole-Rye.jpg');">
  <div class="banner-content">
    <h1>Lucky Shaker</h1>
    <p>Create exotic cocktails from the comfort of your home like a pro.</p>
    <a class="btn btn-primary btn-lg">Explore</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <h4 class="divider text-center">
      <span class="sans">COCKTAILS</span>
    </h4>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <% @cocktails.each do |cocktail| %>
          <h1><%= link_to cocktail.name, cocktail_path(cocktail) %></h1>
        <% end %>
      </div>
    </div>
  </div>
</div>

