// Specific CSS for your home-page
h4.divider .sans {
    font-weight: 300;
}

h4.divider span {
    padding: 0 10px;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: 2px;
    color: #CCCCCC;
}

.content {
  margin: 10px;
}
